html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 200px;
}

.file-inp {
  display: none;
}

button {
  outline: none;
  border: none;
  background-color: #f1f2f5;
  padding: 30px;
  border: 1px solid #e5e9ef;
  border-radius: 4px;
  cursor: pointer;
}

.preview-wraper {
  width: 200px;
  height: 200px;
  position: relative;
  display: none;
  border: 1px solid #000;
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.preview-wraper .img-wraper {
  position: relative;
  font-size: 0;
}

.preview-wraper img {
  object-fit: contain;
}

.line {
  margin: 0 45px;
  width: 1px;
  height: 100%;
  background-color: #aaa;
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.split {
  width: 80px;
  height: 80px;
  cursor: move;
  border: 2px solid yellowgreen;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 99;
}

.result {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #aaa;
}
