html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #dad9d7;
}

.container {
  margin: auto;
  width: 100%;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.container .list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

.container .list .item {
  flex-shrink: 0;
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  position: relative;
}

.container .list .item img {
  display: block;
  width: 100%;
}

.container .list .item .cricle-wraper {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #d9dfdd;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.container .list .item .cricle-wraper .desc {
  white-space: nowrap;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  color: #33472c;
  font-weight: bold;
}

.container .list .item .cricle-wraper .desc::after {
  content: '';
  margin-left: 10px;
  display: block;
  border-width: 8px;
  border-style: solid;
  border-color: #33472c;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.container .list .item .icon {
  flex-shrink: 0;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #5a5ae4;
}
