html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.container {
  width: 500px;
  height: 500px;
  border: 1px solid gray;
  margin: auto;
  background-color: #000;
  perspective: 10px;
  transition: all 5s;
  overflow: hidden;
}

.container:hover {
  perspective: 1000px;
}

.container .text-wraper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
}

.container .text-wraper span {
  writing-mode: vertical-rl;
  color: #fff;
}
