html,body{
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

.container{
    margin: auto;
    width: 500px;
    height: 250px;
    border: 1px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    .mouth-wraper{
        width: 5em;
        height: 5em;
        position: relative;
        z-index: 2;
        .top{
            width: 5em;
            height: 2.5em;
            border-radius: 10em 10em 0 0;
            background-color: orange;
            transform-origin: 50% 100%;
            transform: rotate(-45deg);
            animation: mouthmove1 .5s .7s linear infinite alternate ;
        }
        .bottom{
            width: 5em;
            height: 2.5em;
            border-radius: 0 0 10em 10em;
            background-color: orange;
            transform-origin: 50% 0%;
            transform: rotate(45deg);
            animation: mouthmove2 .5s .7s linear infinite alternate ;
        }
    }
    .dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: yellowgreen;
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 5em;
        transform: translate(0, -50%);
        &:nth-child(2){
            transform: translate(0, -50%);
            animation: dotmove1 1.2s 0s linear infinite;
        }
        &:nth-child(3){
            transform: translate(0, -50%);
            animation: dotmove1 1.2s .4s linear infinite;
        }
        
        &:nth-child(4){
            transform: translate(0, -50%);
            animation: dotmove1 1.2s .8s linear infinite;
        }
    }
}

@keyframes mouthmove1 {
    0%{
        transform: rotate(-45deg);

    }
    100%{
        transform: rotate(0);
    }
}
@keyframes mouthmove2 {
    0%{
        transform: rotate(45deg);

    }
    100%{
        transform: rotate(0);
    }
}

@keyframes dotmove1 {
    0%{
        transform: translate(0, -50%);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(-150px, -50%);
    }
}