body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body img, ul img {
  display: block;
}

.list {
  width: 300px;
  cursor: pointer;
}

.list img {
  width: 300px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal > img {
  position: absolute;
  width: 300px;
}
